.footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.container--footer {
    display: flex;
}

.footer__item {
    margin-bottom: 9px;
    color: white;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer__link--location {
    color: white;
}

.footer__link:hover,
.footer__link:focus {
    color: var(--secondary-color);
}

.footer__social-media {
    padding-top: 12px;
    margin-left: 70px;
}

.footer-social-media-join {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.172;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.footer-subscription {
    padding-top: 12px;
    margin-left: 93px;
}

.subscription-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.172;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.subscription-form {
    display: flex;
}

.subscription-input {
    background-color: transparent;
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: white;
    outline: none;
    transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    margin-right: 12px;
    padding: 15px 16px;
}

.subscription-input:focus {
    border-color: var(--secondary-color);
}

.icon-telegram {
    margin-left: 10px;
}